header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #283593;
  overflow: hidden;
  position: fixed;
  top: 0;
}
header img {
  width: 8em;
  margin-left: 40px;
}
header h1 {
  color: white;
  margin-top: 60px;
}
header h3 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
header h3 a {
  color: white;
  margin-right: 40px;
}
header h3 a:hover {
  color: #FF7043;
  transition: 500ms;
  cursor: pointer;
}

.header-co {
  overflow: initial;
  position: initial;
}

.container-inscription {
  margin-top: 100px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: 2px #CFD8DC solid;
  margin-bottom: 100px;
}
.container-inscription .container-inscription-title {
  padding-top: 20px;
  margin-bottom: 80px;
}
.container-inscription .container-inscription-title img {
  width: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container-inscription .container-inscription-title h3 {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
}
.container-inscription .container-inscription-formulaire {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}
.container-inscription .container-inscription-formulaire input {
  margin-bottom: 20px;
}
.container-inscription .container-inscription-formulaire select {
  margin-bottom: 20px;
}
.container-inscription .container-inscription-formulaire button {
  margin-top: 20px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.container-inscription .container-inscription-formulaire p {
  font-size: 0.8em;
  padding-bottom: 50px;
  text-align: center;
}

footer {
  background-color: #283593;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 0.8em;
}
footer .footer-droit {
  padding-left: 20px;
}
footer .footer-mention {
  padding-right: 20px;
}
footer .footer-mention a {
  color: white;
  text-decoration: none;
}

.footer-bottom {
  overflow: hidden;
  position: fixed;
  bottom: 0;
}

#image img {
  width: 10em;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

.index-img img {
  width: 25em;
}

#avatar {
  border-radius: 60%;
  width: 3em;
  height: 3em;
  margin-right: 30px;
  margin: 10px;
  border: 2px grey solid;
}

.username {
  font-size: 1.4em;
  box-shadow: 0px 0px 2px black;
  margin-top: 0px;
  display: flex;
}

.content img {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 300px;
}

.date {
  font-size: 0.7em;
}

a b {
  color: white;
}

.post a {
  text-decoration: none;
  background-color: #283593;
  padding: 10px;
}

.post a:hover {
  background-color: #FF7043;
  transition: 500ms;
}

article {
  box-shadow: 0px 0px 2px black;
  margin-bottom: 50px;
  width: 400px;
}

.pub {
  box-shadow: 0px 0px 2px black;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.pub textarea {
  border-radius: 10px;
  padding: 20px;
}

.pub input {
  margin-top: 50px;
}

.me-contenu {
  margin: auto;
}

.co {
  box-shadow: 0px 0px 2px black;
}
.co .coco {
  box-shadow: none;
}
.co #avatar {
  width: 1em;
  height: 1em;
}
.co #nameCo {
  font-size: 0.6em;
}
.co #coco {
  font-size: 0.3em;
  margin-left: 60%;
}
.co .cococo {
  font-size: 0.7em;
}

#post {
  width: 100%;
}

#con {
  margin-bottom: 100px;
  position: unset;
}

.container-index-left {
  display: flex;
  flex-direction: column;
}
.container-index-left .container-index-left .container-index-left-contenu h3 {
  font-style: italic;
}
.container-index-left .container-index-left .container-index-left-contenu h3 span {
  font-style: initial;
}

.container-index {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 250px;
}
.container-index .container-index-right {
  position: fixed;
  left: 60%;
}
.container-index .container-index-right .without-btn {
  background-color: #283593;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 2px white solid;
}
.container-index .container-index-right .without-btn:hover {
  background-color: #FF7043;
  cursor: pointer;
  transition: 500ms;
}

.container-mention {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 200px;
}

.container-index-right-contenu {
  display: flex;
  flex-direction: column;
}
.container-index-right-contenu input {
  margin-bottom: 50px;
}
.container-index-right-contenu button {
  background-color: #283593;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 2px white solid;
  margin-top: 50px;
}
.container-index-right-contenu button:hover {
  background-color: #FF7043;
  cursor: pointer;
  transition: 500ms;
}
.container-index-right-contenu button.val {
  background-color: green;
}
.container-index-right-contenu button.supp {
  background-color: red;
}

@media all and (max-device-width: 1225px) {
  header {
    flex-direction: column;
    position: unset;
  }
  header img {
    margin-left: auto;
    margin-right: auto;
  }
  header h1 {
    margin-top: 0px;
    font-size: 1.2em;
    text-align: center;
  }
  header h3 a {
    color: #f44336;
    margin-right: 0px;
    text-align: center;
  }

  .container-inscription {
    width: 100%;
    border: 0px;
    margin-bottom: 100px;
  }
  .container-inscription .container-inscription-formulaire {
    width: 80%;
  }
  .container-inscription .container-inscription-formulaire input {
    margin-bottom: 40px;
  }
  .container-inscription .container-inscription-formulaire select {
    margin-bottom: 40px;
  }

  .container-index {
    flex-direction: column;
    width: 90%;
    margin-top: 0px;
  }
  .container-index .container-index-left {
    margin-top: 50px;
    margin-bottom: 80px;
  }
  .container-index .container-index-left h2 {
    font-size: 1.5em;
  }
  .container-index .container-index-left .container-index-left-contenu h3 {
    font-size: 0.8em;
  }
  .container-index .without-btn {
    display: none;
  }
  .container-index .container-index-right {
    position: unset;
  }
  .container-index .container-index-right-contenu {
    display: flex;
    flex-direction: column;
    border: 2px #CFD8DC solid;
    padding: 30px;
  }

  .index-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .container-index-right {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }

  .content img {
    width: 100%;
    height: auto;
  }

  article {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .pub {
    box-shadow: 0px 0px 0px black;
    padding: 0px;
  }

  footer {
    position: initial;
    overflow: initial;
  }
}
@media screen and (max-height: 805px) {
  .pub {
    display: flex;
  }
  .pub button {
    margin-top: 0px;
  }
  .pub input {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .container-index {
    margin-bottom: 100px;
    margin-top: 200px;
  }
}
@font-face {
  font-family: "amikosemibold";
  src: url("font/Amiko-SemiBold-webfont.eot");
  src: url("font/Amiko-SemiBold-webfont.eot?#iefix") format("embedded-opentype"), url("font/Amiko-SemiBold-webfont.woff2") format("woff2"), url("font/Amiko-SemiBold-webfont.woff") format("woff"), url("font/Amiko-SemiBold-webfont.ttf") format("truetype"), url("font/Amiko-SemiBold-webfont.svg#amikosemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: amikosemibold;
}

.fa-paper-plane {
  cursor: pointer;
  color: green;
}

.fa-times {
  color: red;
  cursor: pointer;
}

.fa-thumbs-up {
  cursor: pointer;
  color: green;
}

/*# sourceMappingURL=styles.css.map */
